.category_name_container{
    position: absolute;
    top: calc(4.5rem + 2rem);
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
   /*  z-index: 10; */
}

.wrapper {
    position: relative;
    height: 100vh;
    max-height: 100vh;
   z-index: 0;
}

.swipper {
    height: 100%;
}